@import './default.scss';

.login {
  h2 {
    font-size: $size * 1.2;
    color: $black;
  }
  .inputs {
    margin-bottom: $size / 5;
      input {
        @include border-radius(1px);
        border: solid 1px $gray;
        padding: $size / 5;
        color: $black;
      }
  }
  .button {
    background-color: $black;
    color: $white;
  }
}